<p id="notice"><%= notice %></p>

<h1 class="text-center mb-3">Complaints</h1>

<table class="table table-striped mt-4">
  <thead class="table-info">
    <tr>
      <th>User</th>
      <th>Company</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.user_id %></td>
        <td><%= complaint.company_id %></td>
        <td><%= complaint.content %></td>
        <td><%= link_to 'Show', complaint, class:'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint), class:'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
